#root {
  margin: 0 auto;
  text-align: center;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.course-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 17rem));
}
